@model TobyVet.Web.ViewModels.EspecieViewModel

<form method="post" id="animalForm">
    <div class="cadastra-form">
        <div class="mb-3">
            <input asp-for="Animal.Nome" placeholder="Nome" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Animal.Responsavel" placeholder="Responsável" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Animal.Sexo" placeholder="Sexo" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Animal.Peso" placeholder="Peso" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Animal.Altura" placeholder="Altura" type="number" class="form-control">
        </div>
        <div class="mb-3">
            <input asp-for="Animal.Cor" placeholder="Cor" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <select asp-for="Animal.IdEspecie" asp-items="@(new SelectList(Model.Especies,"Id","Nome"))"
                class="form-select">
            </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="animal.cadastrarAnimal()">Enviar</button>
    </div>

</form>

