<button onclick="animal.listar()">Listar</button>
<button onclick="animal.mostrarViewCadastrar()">Cadastrar</button>

<div class="container-lista"></div>
<div class="container-cadastrar"></div>
<div class="container-editar"></div>

<script src="~/js/Pages/animal.js" asp-append-version="true"></script>
<script>
    animal.init({
        urls: {
            listar: '@Url.Action("listar", "animal")',
            mostrarViewCadastrar: '@Url.Action("Cadastrar", "Animal")',
            cadastrar: '@Url.Action("cadastrar", "animal")',
            mostrarViewEditar: '@Url.Action("editar", "animal")'
        }
    });
</script>